{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="about-section">
        <h1>About Us</h1>
        <p>Welcome to [Company Name], where we harness AI to revolutionize India's agricultural supply chain. Our advanced solutions optimize efficiency, transparency, and sustainability, empowering farmers, distributors, and consumers. By leveraging cutting-edge technologies, we streamline coordination, provide real-time market insights, and foster fairer pricing. Join us in reshaping the future of agriculture with smarter decision-making, reduced wastage, and a sustainable ecosystem. sapplyintel - Empowering Agriculture Through AI.</p>
    </div>
</div>
{% endblock %}
