{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="logo-section">
        <img src="{% static 'img/logo.png' %}" alt="Logo">
    </div>

    <div class="welcome-section">
        <h1>Welcome to our Agriculture Website</h1>
        <p>This company is aimed to bridge the gap between technology and agriculture. Our goal is to make sure every Indian eats pure organic food grown with love and care towards the plants like never before.</p>
        <p>This is no ordinary CPG (Consumer Packaged Goods) company.</p>
    </div>
</div>
{% endblock %}
