<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom-theme.css' %}">
    <!-- Your CSS and other header elements -->
</head>
<body>
    <header>
        <div class="header-wrapper">
            <div class="logo-container">
                <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo-image">
            </div>
           
            <nav>
                <ul>
                    <li class="{% block home_active %}{% endblock %}"><a href="/home">Home</a></li>
                    <li class="{% block team_active %}{% endblock %}"><a href="/team/">Team</a></li>
                    <!-- Other navigation items -->
                </ul>
            </nav>
        </div>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2023 Sapplyintelligence. All rights reserved.</p>
        <p>The Corporate Identity Number of the company is U01611UP2023PTC181045</p>
    </footer>

    <!-- Your JavaScript and other footer elements -->
</body>
</html>
